:root {
	color-scheme: light dark;
}

$theme-class: ".light";

$light-colors: (
	"background": hsl(0, 0%, 98%),
	"text": hsl(200, 15%, 8%),
	"elements": hsl(0, 0%, 100%),
	"element-boxshadow": hsl(0, 0%, 95%),
	"input-text": hsl(0, 0%, 52%)
);

$dark-colors: (
	"background": hsl(207, 26%, 17%),
	"text": hsl(0, 0%, 100%),
	"elements": hsl(209, 23%, 22%),
	"element-boxshadow": 	hsl(205, 27%, 16%),
	"input-text": hsl(0, 0%, 100%)
);

// light theme:
@mixin light-mode {
	body {
		background-color: map-get($light-colors, "background");
	}

	* {
		color: map-get($light-colors, "text");
	}

	.default-background {
		background-color: map-get($light-colors, "elements");
		box-shadow: 0 0.25rem 0.25rem map-get($light-colors, "element-boxshadow");
	}

	input {
		color: map-get($light-colors, "input-text");
	}
}

// dark theme:
@mixin dark-mode {
	body {
		background-color: map-get($dark-colors, "background");
	}

	* {
		color: map-get($dark-colors, "text");
	}

	.default-background {
		background-color: map-get($dark-colors, "elements");
		box-shadow: 0.5rem 1rem 3rem map-get($dark-colors, "element-boxshadow");
	}

	input {
		color: map-get($dark-colors, "input-text");
	}
}

@media (prefers-color-scheme: light) {
	:root {
		@include light-mode()
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@include dark-mode()
	}
}

.light {
	@include light-mode()
}

.dark {
	@include dark-mode()
}