:root {
	color-scheme: light dark;
}

$theme-class: ".light";
$theme-transition-duration: 1000ms;

$light-colors: (
	"background": hsl(0, 0%, 98%),
	"text": hsl(200, 15%, 8%),
	"elements": hsl(0, 0%, 100%),
	"element-boxshadow": hsl(0, 0%, 95%),
	"placeholder-text": hsl(0, 0%, 52%)
);

$dark-colors: (
	"background": hsl(207, 26%, 17%),
	"text": hsl(0, 0%, 100%),
	"elements": hsl(209, 23%, 22%),
	"element-boxshadow": 	hsl(205, 27%, 16%),
	"placeholder-text": hsl(0, 0%, 52%)
);

// light theme:
@mixin light-mode {
	body {
		background-color: map-get($light-colors, "background");
		transition-duration: $theme-transition-duration;
	}

	* {
		color: map-get($light-colors, "text");
		transition-duration: $theme-transition-duration;
	}

	svg {
		fill: map-get($light-colors, "text");
		transition-duration: calc($theme-transition-duration / 10);
	}

	.default-background {
		background-color: map-get($light-colors, "elements");
		box-shadow: 0 0.25rem 0.25rem map-get($light-colors, "element-boxshadow");
		transition-duration: $theme-transition-duration;
	}
}

// dark theme:
@mixin dark-mode {
	body {
		background-color: map-get($dark-colors, "background");
		transition-duration: $theme-transition-duration;
	}

	* {
		color: map-get($dark-colors, "text");
		transition-duration: $theme-transition-duration;
	}

	svg {
		fill: map-get($dark-colors, "text");
		transition-duration: calc($theme-transition-duration / 10);
	}

	.default-background {
		background-color: map-get($dark-colors, "elements");
		box-shadow: 0.5rem 1rem 3rem map-get($dark-colors, "element-boxshadow");
		transition-duration: $theme-transition-duration;
	}
}

.light {
	@include light-mode()
}

.dark {
	@include dark-mode()
}