@use "themes.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

/* ---------- Resets ---------- */
* {
	font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;

	padding: 0;
	margin: 0;
}

button, img {
	user-select: none;
}

/* ---------- Scrollbar ---------- */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
}

/* ---------- Input Type Search Clear Button ---------- */
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;

	background: url(assets/CancelIcon.svg) no-repeat center center;
	background-size: contain;
}

.dark input[type="search"]::-webkit-search-cancel-button {
	filter: invert(1);
}

/* ---------- Classes ---------- */
.side-padding {
	padding: 0 10%
}

.nav-side-padding {
	padding: 0 calc(10% - 0.75rem);
}

.bento-grid {
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 22rem);
	grid-auto-rows: 30rem;
}

.homepage-grid {
	grid-template-rows: min-content auto;
}

@media (hover: hover) {
	.card-hover:hover {
		scale: 1.05;
	}
}
// tailwind down here so it doesn't get overwriten by the above scss stuff
@tailwind base;
@tailwind components;
@tailwind utilities;