:root {
	color-scheme: light dark;
}

$theme-transition: all 250ms, background-color 750ms, color 750ms, box-shadow 750ms;

$light-colors: (
	"background": hsl(0, 0%, 90%),
	"text": hsl(200, 15%, 8%),
	"elements": hsl(0, 0%, 90%),
	"elements-hover": hsl(0, 0%, 100%),
	"element-boxshadow": hsl(0, 0%, 65%),
	"lighter-text": hsl(0, 0%, 42%),
	"scrollbar-thumb": hsl(0, 0%, 65%),
	"scrollbar-track": hsl(0, 0%, 100%)
);

$dark-colors: (
	"background": hsl(207, 26%, 17%),
	"text": hsl(0, 0%, 100%),
	"elements": hsl(209, 23%, 22%),
	"elements-hover": hsl(209, 23%, 26%),
	"element-boxshadow": 	hsl(205, 27%, 16%),
	"lighter-text": hsl(0, 0%, 66%),
	"scrollbar-thumb": hsl(209, 10%, 38%),
	"scrollbar-track": hsl(209, 26%, 15%)
);

svg {
	fill: currentColor;
}

// light theme:
.light {
	transition: $theme-transition;
	
	* {
		transition: $theme-transition;
		color: map-get($light-colors, "text");
	}

	body {
		background-color: map-get($light-colors, "background");
	}

	.default-background {
		background-color: map-get($light-colors, "elements");
		box-shadow: 0.5rem 1rem 3rem map-get($light-colors, "element-boxshadow");
	}

	@media (hover: hover) {
		.default-hover:hover, .default-hover:focus-visible, div.default-hover:focus-within {
			background-color: map-get($light-colors, "elements-hover");
		}
	}

	.lighter-text {
		color: map-get($light-colors, "lighter-text");
		& * {
			color: map-get($light-colors, "lighter-text");
		}
	}

	::-webkit-scrollbar-thumb {
		background-color: map-get($light-colors, "scrollbar-thumb" );
	}

	::-webkit-scrollbar-track {
		background-color: map-get($light-colors, "scrollbar-track" );
	}
}

// dark theme:
.dark {
	* {
		transition: $theme-transition;
		color: map-get($dark-colors, "text");
	}

	body {
		background-color: map-get($dark-colors, "background");
	}

	.default-background {
		background-color: map-get($dark-colors, "elements");
		box-shadow: 0.5rem 1rem 3rem map-get($dark-colors, "element-boxshadow");
	}

	@media (hover: hover) {
		.default-hover:hover, .default-hover:focus-visible, div.default-hover:focus-within {
			background-color: map-get($dark-colors, "elements-hover");
		}
	}

	.lighter-text {
		color: map-get($dark-colors, "lighter-text");
		& * {
			color: map-get($dark-colors, "lighter-text");
		}
	}

	::-webkit-scrollbar-thumb {
		background-color: map-get($dark-colors, "scrollbar-thumb" );
	}

	::-webkit-scrollbar-track {
		background-color: map-get($dark-colors, "scrollbar-track" );
	}
}
